::selection {
  background: var(--brand);
  color: #ffffff;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--brand-font),Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 900;
  line-height: 1;
  color: var(--heading-font-color);
  text-transform: uppercase;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

code {
  font-family: var(--code-font),"Fira Mono", Menlo, Consolas, "DejaVu Sans Mono", monospace;
  background: var(--code-background);
  color: var(--code-foreground);
}

.content {
  padding-top: 2rem;
  padding-bottom: 4rem;
  flex-grow: 1;
}

.current-dir {
  font-family: monospace;
}

.rss {
  display: none;
}

.header {
  padding-top: 4rem;
  padding-bottom: 2.5rem;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logo__link {
  font-family: var(--brand-font),Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
}

.nav__inner {
  display: flex;
  gap: 2rem;
  margin: 0;
}

.nav__item {
  list-style: none;
  margin: 0;
}

.nav__link {
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  background-color: var(--dark-alt);
}

.footer__inner {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.socials {
  display: flex;
  gap: 1rem;
  margin: 0;
  flex-wrap: wrap;
}

.social {
  list-style: none;
}

.section {
  width: 100%;
}

.section__inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section__title {
  margin: 0;
  font-size: 2rem;
}

.tags {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.pill {
  padding: 6px 12px;
  border: 2px solid var(--border-color);
  border-radius: 25px;
}

.pill:hover {
  border: 2px solid var(--brand);
}

.pill__inner {
  display: flex;
  gap: 0.25rem;
}

.pill__title {
  text-transform: uppercase;
  color: var(--light-gray);
  font-size: 1.25rem;
}

.tag-count {
  color: var(--text-color);
  font-size: 1.25rem;
}

.list-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 6rem;
}

.list-item__header {
  margin-bottom: 1.5rem;
}

.list-item__title {
  font-size: 3rem;
  margin-bottom: 0;
}

.list-item__summmary {
  margin-bottom: 0.5rem;
}

.pwd {
  display: none;
}

@media (min-width: 40.0rem) {
  .content {
    padding-bottom: 8rem;
  }

  .pwd {
    display: block;
  }

  .rss {
    display: initial;
  }

  .header__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__inner {
    padding-top: 8rem;
    padding-bottom: 8rem;
    flex-direction: row;
    justify-content: space-between;
  }
}
