<footer class="footer">
  <div class="footer__inner container">
    {{ if .Site.Author }}
      <section class="section">
        <div class="section__inner">
          <div class="section__header">
            <h3 class="section__title">{{ .Site.Author.name }}</h3>
          </div>
          <div class="section__content">
            {{ .Site.Author.biography }}
          </div>
          <div class="section__footer">
            <ul class="socials">
              {{ with .Site.Author.github }}
                <li class="social">
                  <a href="{{ . }}" class="link" target="_blank" rel="noopener" aria-label="GitHub link">Github</a>
                </li>
              {{ end }}
              {{ with .Site.Author.twitter }}
                <li class="social">
                  <a href="{{ . }}" class="link" target="_blank" rel="noopener" aria-label="Twitter link">Twitter</a>
                </li>
              {{ end }}
              {{ with .Site.Author.linkedin }}
                <li class="social">
                  <a href="{{ . }}" class="link" target="_blank" rel="noopener" aria-label="LinkedIn link">LinkedIn</a>
                </li>
              {{ end }}
              {{ with .OutputFormats.Get "rss" }}
                <li class="social rss">
                  <a href="{{ .Permalink }}" target="_blank" class="link" aria-label="RSS link">RSS</a>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </section>
    {{ end }}

    {{ if .Site.Taxonomies.tags }}
      <section class="section">
        <div class="section__inner">
          <div class="section__header">
            <h3 class="section__title">Explore Tags</h3>
          </div>
          <div class="section__content">
            <div class="tags">
              {{ range .Site.Taxonomies.tags }}
                <a class="link pill" href="{{ .Page.Permalink }}">
                  <div class="pill__inner">
                    <div class="pill__title">{{ .Page.Title }}</div>
                    <div class="tag-count">{{ .Count }}</div>
                  </div>
                </a>
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  </div>
</footer>
