<footer class="footer">
  <div class="footer__inner container">
    {{ if .Site.Author }}
      <section class="section">
        <div class="section__inner">
          <div class="section__header">
            <h3 class="section__title">{{ .Site.Author.name }}</h3>
          </div>
          {{ with .Site.Author.biography }}
            <div class="section__content">
              {{ . }}
            </div>
          {{ end }}
          <div class="section__footer">
            <ul class="socials">
              {{ range .Site.Author.socials }}
                <li class="social">
                  <a href="{{ .url }}" class="link" target="_blank" rel="noopener" aria-label="{{ .name }} link">{{ .name }}</a>
                </li>
              {{ end }}
            </ul>
            <ul class="socials">
              {{ with .Site.GetPage "/uses" }}
                <li class="social">
                  <a href="{{ .RelPermalink }}" class="link" aria-label="{{ .Name }}">{{ .Name }}</a>
                </li>
              {{ end }}
              {{ with .Site.GetPage "/" }}
                {{ with .OutputFormats.Get "rss" }}
                  <li class="social">
                    <a href="{{ .Permalink }}" class="link" aria-label="RSS link" download>RSS</a>
                  </li>
                {{ end }}
              {{ end }}
              <li class="social">
                <a href="/30AF460F.asc" class="link" aria-label="GPG Key" download>GPG</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    {{ end }}

    {{ if .Site.Taxonomies.tags }}
      <section class="section">
        <div class="section__inner">
          <div class="section__header">
            <h3 class="section__title">Explore Tags</h3>
          </div>
          <div class="section__content">
            <div class="tags">
              {{ range .Site.Taxonomies.tags }}
                {{ partial "tag.html" . }}
              {{ end }}
            </div>
          </div>
        </div>
      </section>
    {{ end }}
  </div>
</footer>
