{{ $description := (default .Site.Params.description .Page.Description) }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ with .Params.Title }}{{ . }} |> {{ end }}{{ .Site.Title }}</title>
<meta name="description" content="{{ $description }}">{{ with .Site.Params.color }}
<meta name="theme-color" content="{{ . }}">{{ end }}
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">

<!-- Geo tags -->
{{ with .Site.Author.location }}
  {{ with .icmb }}<meta name="ICBM" content="{{ .latitude }}, {{ .longitude }}">{{ end }}
  {{ with .position }}<meta name="geo.position" content="{{ .latitude }};{{ .longitude }}">{{ end }}
  {{ with .region }}<meta name="geo.region" content="{{ . }}">{{ end }}
  {{ with .city }}<meta name="geo.placename" content="{{ . }}">{{ end }}
{{ end }}

<link rel="canonical" href="{{ .Permalink }}">
<!-- RSS -->
{{ with .OutputFormats.Get "RSS" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- JSON Feed -->
{{ with .OutputFormats.Get "json" }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end }}

{{ $styles :=
    slice
      (resources.Get "css/fonts.css")
      (resources.Get "css/variables.css")
      (resources.Get "css/normalize.css")
      (resources.Get "css/milligram.css")
      (resources.Get "css/main.css")
    | resources.Concat "main.css"
}}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
{{ else }}
  {{ $styles := $styles | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
{{ end }}
