<header class="header">
  <div class="header__inner container">
    <div class="logo">
      <a class="logo__link" href="/" aria-label="Home">{{ .Site.Title }}</a>
    </div>
    <nav class="nav">
      <ul class="nav__inner">
        {{ range .Site.Menus.main }}
          <li class="nav__item">
          <a class="nav__link" href="{{ .URL | relLangURL }}" aria-label="{{ .Name }} link">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
  <div class="pwd container">
    {{ if .IsHome }}
      <div class="current-dir">iex(1)> TomKonidas.list_articles(order_by: [desc: :inserted_at])</div>
    {{ else if eq .Type "post" }}
      <div class="current-dir">iex(2)> TomKonidas.get_article("{{ .File.BaseFileName }}")</div>
    {{ else if eq .Kind "term" }}
      <div class="current-dir">iex(3)> TomKonidas.list_articles(tags: [:{{ .Title }}])</div>
    {{ else }}
      <div class="current-dir">iex(4)> TomKonidas.{{ replace (lower .Title) " " "_" }}()</div>
    {{ end }}
  </div>
</header>
