<header class="header">
  <div class="header__inner container">
    <div class="logo">
      <a class="logo__link" href="/" aria-label="Home">{{ .Site.Title }}</a>
    </div>
    <nav class="nav">
      <ul class="nav__inner">
        {{ range .Site.Menus.main }}
          <li class="nav__item">
          <a class="nav__link" href="{{ .URL | relLangURL }}" aria-label="{{ .Name }} link">{{ .Name }}</a>
          </li>
        {{ end }}
        {{ with .Site.GetPage "/" }}
          {{ with .OutputFormats.Get "rss" }}
            <li class="nav__item rss">
              <a href="{{ .Permalink }}" target="_blank" rel="noopener" class="nav__link" aria-label="RSS link">RSS</a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
