<header class="header">
  <div class="header__inner container">
    <div class="logo">
      <a class="logo__link" href="/" aria-label="Home">{{ .Site.Title }}</a>
    </div>
    <nav class="nav">
      <ul class="nav__inner">
        {{ range .Site.Menus.main }}
          <li class="nav__item">
          <a class="nav__link" href="{{ .URL | relLangURL }}" aria-label="{{ .Name }} link">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
  <div class="pwd container">
    {{ if .IsHome }}
      <div class="current-dir">iex(1)> Blog.list_articles(:latest)</div>
    {{ else if eq .Kind "page" }}
      <div class="current-dir">iex(2)> Blog.get_article("{{ .File.BaseFileName }}")</div>
    {{ else }}
      <div class="current-dir">iex(3)> Blog.list_articles(tags: [:{{ .Title }}])</div>
    {{ end }}
  </div>
</header>
